<section class="benefit_section" id="benefit-link">
  <h2 class="benefit_main_head">BENEFITS OF WORKING WITH ME</h2>
  <div class="benefit-div">
   

    <ul class="benefits">
      <li class="benefit_card">
        <div class="benefit_img_block">
          <svg
            class="benefit_icon"
            width="48"
            height="48"
            aria-label="icon Expertise"
          >
            <use href="./img/benefits.svg#icon-body1"></use>
          </svg>
        </div>

        <h3 class="benefit_title">Expertise</h3>
        <p class="benefit_txt">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>

      <li class="benefit_card">
        <div class="benefit_img_block">
          <svg
            class="benefit_icon"
            width="48"
            height="48"
            aria-label="icon Communication"
          >
            <use href="./img/benefits.svg#icon-round2"></use>
          </svg>
        </div>

        <h3 class="benefit_title">Communication</h3>
        <p class="benefit_txt">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>

      <li class="benefit_card">
        <div class="benefit_img_block">
          <svg
            class="benefit_icon"
            width="48"
            height="48"
            aria-label="icon Art"
          >
            <use href="./img/benefits.svg#icon-pen3"></use>
          </svg>
        </div>

        <h3 class="benefit_title">Art</h3>
        <p class="benefit_txt">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>

      <li class="benefit_card">
        <div class="benefit_img_block">
          <svg
            class="benefit_icon"
            width="48"
            height="48"
            aria-label="icon benefit"
          >
            <use href="./img/benefits.svg#icon-clock4"></use>
          </svg>
        </div>

        <h3 class="benefit_title">Urgent execution</h3>
        <p class="benefit_txt">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>

    <div class="benefit-footer">
      <a href="#" class="benefit-footer-link">Order the project</a>
    </div>
  </div>
</section>
