<section class="covers" id="id-covers">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>

    <div class="image-box">
      <div class="image-box-string">
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project2@2x.jpg 2x"
            src="../img/covers-img/project2.jpg"
            alt="project2"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project6@2x.jpg 2x"
            src="../img/covers-img/project6.jpg"
            alt="project6"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project1@2x.jpg 2x"
            src="../img/covers-img/project1.jpg"
            alt="project1"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project10@2x.jpg 2x"
            src="../img/covers-img/project10.jpg"
            alt="project10"
          />
        </div>
      </div>
      <div class="image-box-string">
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project2@2x.jpg 2x"
            src="../img/covers-img/project2.jpg"
            alt="project2"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project9@2x.jpg 2x"
            src="../img/covers-img/project9.jpg"
            alt="project9"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project3@2x.jpg 2x"
            src="../img/covers-img/project3.jpg"
            alt="project3"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project1@2x.jpg 2x"
            src="../img/covers-img/project1.jpg"
            alt="project1"
          />
        </div>
      </div>
      <div class="image-box-string">
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project10@2x.jpg 2x"
            src="../img/covers-img/project10.jpg"
            alt="project10"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project4@2x.jpg 2x"
            src="../img/covers-img/project4.jpg"
            alt="project4"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project2@2x.jpg 2x"
            src="../img/covers-img/project2.jpg"
            alt="project2"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project6@2x.jpg 2x"
            src="../img/covers-img/project6.jpg"
            alt="project6"
          />
        </div>
      </div>
      <div class="image-box-string">
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project7@2x.jpg 2x"
            src="../img/covers-img/project7.jpg"
            alt="project7"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project8@2x.jpg 2x"
            src="../img/covers-img/project8.jpg"
            alt="project8"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project9@2x.jpg 2x"
            src="../img/covers-img/project9.jpg"
            alt="project9"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project4@2x.jpg 2x"
            src="../img/covers-img/project4.jpg"
            alt="project4"
          />
        </div>
      </div>
      <div class="image-box-string">
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project10@2x.jpg 2x"
            src="../img/covers-img/project10.jpg"
            alt="project10"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project2@2x.jpg 2x"
            src="../img/covers-img/project2.jpg"
            alt="project2"
          />
        </div>
        <div class="image-box-item">
          <img
            srcset="../img/covers-img/project7@2x.jpg 2x"
            src="../img/covers-img/project7.jpg"
            alt="project7"
          />
        </div>
      </div>
    </div>
  </div>
</section>
