<section class="faq" id="faq">
  <div class="faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list-accordion-container">
      <li class="ac">
        <svg class="faq-bar-svg l-bar" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">
            What programming languages ​​are most often used in your project?
          </h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
        <svg class="faq-bar-svg" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
      <li class="ac s-item">
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">What are the deadlines for the project?</h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
        <svg class="faq-bar-svg" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
      <li class="ac">
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">What payment methods do you accept?</h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
        <svg class="faq-bar-svg" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
      <li class="ac">
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">How can I contact you?</h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
        <svg class="faq-bar-svg f-bar" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
      <li class="ac ff-item">
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">Do you provide advice or support?</h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
        <svg class="faq-bar-svg ff-bar" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
      <li class="ac l-item">
        <div class="faq-content-div-accordion">
          <h3 class="ac-header">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="ac-trigger">
            <svg class="faq-content-div-svg">
              <use href="../img/faq-svg/faq.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
        <svg class="faq-bar-svg last-bar" width="343" height="2">
          <use href="../img/faq-svg/faq.svg#icon-bar"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
