<header class="header">
    <div class="header-container">
    <img class="header-img" src="./img/icons/logo_vector.svg" alt="logo">
    <div id="profile">
        <a href="#" class="menu-list" id="profile-link">Menu</a>
        <div id="dropdown">
            <a class="menu-link" href="#">About me</a>
            <a class="menu-link" href="#">Benefits</a>
            <a class="menu-link" href="#">Projects</a>
            <a class="menu-link" href="#">FAQ</a>
        </div>
    </div>
    <button class="header-button">Order the project</button>
</div>
    <script type="module" src="../js/header.js"></script>
</header>
