<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a href="./index.html"
        ><img class="header-img" srcset="./img/header/header@2x.jpg 2x"
        src="./img/header/header@1x.jpg" alt="logo" />
      </a>
      <p class="logo-paragraph">jefferson*</p>
    </div>
    <div class="menu" id="profile">
      <a href="#" class="menu-list" id="profile-link">Menu</a>
      <div class="menu-dropdown" id="dropdown">

        <ul>
          <li><a class="menu-link-mobile" href="#">About me</a>
          </li>
          <li ><a class="menu-link-mobile" href="#benefit-link">Benefits</a>
          </li>
          <li><a class="menu-link-mobile" href="#projects">Projects</a>
          </li>
          <li><a class="menu-link-mobile" href="#faq">FAQ</a>
          </li>
        </ul>


      </div>
    </div>
    <div class="header-orders">  <a href="./footer.html" class="header-button">Order the project</a>
    </div>
    <button class="header-mobile-menu-open-btn" type="button">
      <svg
        class="benefit_icon"
        width="28"
        height="28"
        aria-label="icon Expertise"
      >
        <use href="./img/header/symbol-defs.svg#icon-menu-05"></use>
      </svg>
    </button>
  </div>
</header>
