<header class="header">
  <div class="header-container">
    <a href="./index.html"><img class="header-img" src="../img/header-svg/image.jpg" alt="logo" />
    </a>
    <div class="menu" id="profile">
      <a href="#" class="menu-list" id="profile-link">Menu</a>
      <div class="menu-dropdown" id="dropdown">
        <a class="menu-link" href="#">About me</a>
        <a class="menu-link" href="#benefit-link">Benefits</a>
        <a class="menu-link" href="#projects">Projects</a>
        <a class="menu-link" href="#faq">FAQ</a>
      </div>
    </div>
    <button class="header-button">Order the project</button>
    <button class="header-mobile-menu-open-btn" type="button">
      <svg
        class="benefit_icon"
        width="28"
        height="28"
        aria-label="icon Expertise"
      >
        <use href="../img/header-svg/symbol-defs.svg#icon-menu-05"></use>
      </svg>
    </button>
  </div>
  <script type="module" src="../js/header.js"></script>
</header>
