<section class="hero" id="hero">
  <div class="hero-cower">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-top-menu">
      <li class="hero-menu-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
      </li>
      <li class="hero-menu-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
      </li>
      <li class="hero-menu-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
      </li>
      <li class="hero-menu-item">
        <a href="https://github.com/tina3008/project-group-3" target="_blank"
          >GH</a
        >
      </li>
      <li class="hero-menu-item-email hero-menu-item">
        <a href="mailto:example@example.com">proj_gr_3@gmail.com</a>
      </li>
    </ul>
  </div>
  
</section>
