
<!-- ++++++++++++++++++++++++++++++++++ -->

<div class="mobail-menu" id="mobail-menu">
  <div class="mobail-content">
    <button class="mobile-menu-close-btn" id="mobiail-btn" type="button" aria-label="closed">
      <svg
        class="icon-closed"
        width="28"
        height="28"
        aria-label="close modal icon"
      >
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="mobile-menu-navigation">
      <ul class="mobile-list">
        <li class="mobile-menu-item menu-link-add-color">
          <a class="menu-link-mobile" href="#about-me">About me</a>
        </li>
        <li class="mobile-menu-item menu-link-add-color">
          <a class="menu-link-mobile" href="#benefit-link">Benefits</a>
        </li>
        <li class="mobile-menu-item menu-link-add-color">
          <a class="menu-link-mobile" href="#projects">Projects</a>
        </li>
        <li class="mobile-menu-item menu-link-add-color">
          <a class="menu-link-mobile" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="heder-footer">
      <a href="#work-together-section" class="heder-footer-link"
        >Order the project</a
      >
    </div>
  </div>
</div>
