<div class="menu-container-mobile">
  <div class="menu-background-mobile">
    <button class="header-mobile-menu-close-btn" type="button">
      <svg
        class="benefit_icon"
        width="28"
        height="28"
        aria-label="icon Expertise"
      >
        <use href="./img/header/symbol-defs.svg#icon-menu-close"></use>
      </svg>
    </button>
  <div class="menu-mobile" id="profile-mobile">
    <div class="menu-dropdown-mobile" id="dropdown-mobile">
      <a class="menu-link-mobile" href="#">About me</a>
      <a class="menu-link-mobile" href="#benefit-link">Benefits</a>
      <a class="menu-link-mobile" href="#projects">Projects</a>
      <a class="menu-link-mobile" href="#faq">FAQ</a>
    </div>
  </div>
  <button class="header-button-mobile">Order the project</button>
</div>
</div>
