<div class="menu-container-mobile is-hidden">
    <div class="menu-background-mobile"></div>
    <div class="menu-mobile" id="profile-mobile">
    <a href="#" class="menu-list-mobile" id="profile-link-mobile">Menu</a>
    <div class="menu-dropdown-mobile" id="dropdown-mobile">
    <a class="menu-link-mobile" href="#">About me</a>
    <a class="menu-link-mobile" href="#benefit-link">Benefits</a>
    <a class="menu-link-mobile" href="#projects">Projects</a>
    <a class="menu-link-mobile" href="#faq">FAQ</a>
    </div>
    </div>
    <button class="header-button-mobile">Order the project</button>
    </div>
 
    <section class="modal">
    <div class="menu-wrapper"></div>
    </section>
  
    