<div class="backdrop is-open click-js" id="modal-open">
    <div class="modal-block">
        <button type="button" class="modal-btn click-js" id="modalBtn">
            <svg class="modal-btn-icon" width="22" height="22">               
                <use href="./img/sprite.svg#icon-x"></use>                
            </svg>
        </button>
        <div class="modal-text-box">
            <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
            <p class="modal-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
        </div>
    </div>
</div>