<section class="projects-section" id="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper">
    <ul class="projects-list swiper-wrapper" background-color="aqua">
      <li class="projects-item swiper-slide">
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill"><p>#react</p></div>
            <div class="projects-skill"><p>#js</p></div>
            <div class="projects-skill"><p>#node js</p></div>
            <div class="projects-skill"><p>#git</p></div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/tina3008/project-group-3"
            target="_blank"
            >See project</a
          >
        </div>

        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/projects/read-journey-tab-desk.jpg    1x,
                ./img/projects/read-journey-tab-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/read-journey.jpg    1x,
                ./img/projects/read-journey@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/read-journey.jpg"
              alt="Read journey project image"
            />
          </picture>
        </div>
      </li>
      <li class="projects-item swiper-slide" >
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill"><p>#react</p></div>
            <div class="projects-skill"><p>#js</p></div>
            <div class="projects-skill"><p>#node js</p></div>
            <div class="projects-skill"><p>#git</p></div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/tina3008/project-group-3"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/projects/petlove-tab-desk.jpg    1x,
                ./img/projects/petlove-tab-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/petlove.jpg    1x,
                ./img/projects/petlove@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/petlove.jpg"
              alt="Petlove project image"
            />
          </picture>
        </div>
      </li>
      <li class="projects-item swiper-slide">
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill"><p>#react</p></div>
            <div class="projects-skill"><p>#js</p></div>
            <div class="projects-skill"><p>#node js</p></div>
            <div class="projects-skill"><p>#git</p></div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/tina3008/project-group-3"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/projects/vocab-builder-tab-desk.jpg    1x,
                ./img/projects/vocab-builder-tab-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/vocab-builder.jpg    1x,
                ./img/projects/vocab-builder@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/vocab-builder.jpg"
              alt="VocabBuilder project image"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="btn-container">
      <button class="prev-btn" type="button" aria-label="arrow">
        <svg
          class="arrow-left-icon"
          width="24"
          height="24"
          aria-label="arrow left"
        >
          <use
            href="./img/sprite.svg#icon-right"
          />
        </svg>
      </button>
      <button class="next-btn" type="button" aria-label="arrow">
        <svg
          class="arrow-right-icon"
          width="24"
          height="24"
          aria-label="arrow right"
        >
          <use
            href="./img/sprite.svg#icon-right"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
