<section class="reviews" id="reviews">
  <div class="container-wrapper">
    <div class="container-header">
      <h2 class="reviews-header">REVIEWS</h2>
    </div>

    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="arrow-container">
      <button class="button-prev button-prev-svg" type="button">
        <svg class="arrow-swiper" width="24" height="24">
          <use
            xlink:href="../img/svg-reviews/arrow.svg#icon-arrow-narrow-right"
          />
        </svg>
      </button>

      <button class="button-next button-next-svg" type="button">
        <svg class="arrow-swiper" width="24" height="24">
          <use
            xlink:href="../img/svg-reviews/arrow.svg#icon-arrow-narrow-rightarrrR"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
