<section class="reviews" id="reviews">
  <div class="swiper-container">
    <h2 class="reviews-header">REVIEWS</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="arrow-container">
      <div class="button-prev">
        <button class="button-prev-svg button-prev" type="button">
          <svg class="arrow-swiper" width="52" height="52">
            <use xlink:href="../img/svg-reviews/arrow.svg#icon-arrowarr" />
          </svg>
        </button>
      </div>
      <div class="button-next">
        <button class="button-next-svg button-next" type="button">
          <svg class="arrow-swiper" width="52" height="52">
            <use xlink:href="../img/svg-reviews/arrow.svg#icon-arrow" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
