.benefit_section {
  font-family: 'Inter Tight', sans-serif;
  margin: 32px auto;
	
}

.benefit_icon {
  fill: #ed3b44;
  margin-bottom: 64px;
}
.benefit_main_head {	
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;  
}
.benefit_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.benefit_txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.benefit-footer {
  display: flex;
}
.benefit-footer-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.02em;
  padding: 18px 36px 18px 36px;
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}

.benefit-footer-link:hover,
.benefit-footer-link:focus{
	background-color: rgb(237, 59, 68);
}
.benefit_card{	
	padding:24px;
	background-color: #242527;
}
.benefit-div{
	display: block;
}
/* 320===========   */
@media screen and (max-width: 375px) {
	.benefit_section {
	  width: 320px;
	  
	}
  }
  /* 375 mobi============  */
  
  
  @media screen and (min-width: 375px) {
	.benefit_section {
	  min-width: 343px;
	}
	.benefit_card{
		display: block;
		
	}
}

/* 768 tablet============   */
@media screen and (min-width: 768px){
	.benefit_section{
		width: 704px;
	}
	.benefits{
		display:flex;
		gap: 16px;
		
		flex-wrap: wrap; 
		
	}
	.benefit_card{
		display: list-item;
		width: calc((100% - 16px) / 2);
	}
}

/* 1280==========   */
@media screen and (min-width: 1440px){
	.benefit_section{
		width: 1376px;
		display: flex;
	}
	.benefit_main_head{		
		width: calc(100% / 2);
	}
	.benefit-div{
		width: calc(100% / 2);
	}
}
