.faq {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ac .ac-trigger.faq-btn::after {
  content: '';
  text-align: center;
  width: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
  display: none;
}

.ac.is-active .faq-content-div-svg {
  transform: rotate(180deg);
}

.faq-container {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
  gap: 32px;
}

.faq-title {
  font-family: 'Inter Tight';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-list-accordion-container {
  display: flex;
  flex-direction: column;
  width: 343px;
}

.ac-header {
  color: #fafafa;
  font-size: 20px;
  max-width: 265px;
}

.faq-content-div-accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ac-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: transparent;
}

.faq-content-div-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.ac-text {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.faq-bar-svg {
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  margin: 20px 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.add-b {
  display: none;
}

.ac.faq-item {
  margin-top: 0px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}
.ac.l-item.faq-item::after {
  content: '';
  display: block;
  width: 344px;
  height: 1px;
  background-color: rgba(250, 250, 250, 20%);
}
.ac .ac-header.faq-header {
  color: #fafafa;
  font-size: 20px;
  max-width: 265px;
  line-height: 1.5;
  text-transform: none;
}

.ac .ac-trigger.faq-btn {
  cursor: pointer;
  transition: color 0.25s ease;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: transparent;
}

.ac .ac-trigger.faq-btn:focus {
  color: #8a8a8a;
}

.ac .ac-panel .ac-text.faq-text {
  font-weight: 500;
  font: 16px 'Inter Tight', sans-serif;
  color: rgba(250, 250, 250, 0.6);
  padding: 0px;
  margin: 0;
  margin-bottom: 20px;
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
.ac.faq-item::before {
  content: '';
  width: 344px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  display: block;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .faq {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq-container {
    max-width: 768px;
  }

  .faq-list-accordion-container {
    width: 704px;
  }

  .faq-content {
    gap: 26px;
  }
  .ac.l-item.faq-item::after {
    content: '';
    display: block;
    width: 704px;
    height: 1px;
    background-color: rgba(250, 250, 250, 20%);
  }
  .faq-bar-svg {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 704px;
  }

  .add-b {
    display: none;
  }

  .ac .ac-panel .ac-text.faq-text {
    max-width: 656px;
    margin-bottom: 24px;
  }

  .ac .ac-header.faq-header {
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-size: 20px;
    max-width: 575px;
  }
  .ac.faq-item::before {
    content: '';
    width: 704px;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.2);
    display: block;
    margin-bottom: 32px;
  }
  .faq-content-div-accordion {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .faq-container {
    max-width: 1440px;
    gap: 0;
  }

  .faq-list-accordion-container {
    width: 1376px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-container::after,
  .faq-list-accordion-container::before {
    content: '';
    display: block;
    background-color: rgba(250, 250, 250, 20%);
    width: 1376px;
    height: 1px;
  }

  .ac.faq-item {
    max-width: 688px;
  }

  .ac-header.faq-header {
    max-width: 575px;
    height: 104px;
  }

  .faq-bar-svg {
    margin-top: 25px;
    margin-bottom: 35px;
    width: 688px;
  }

  .s-item::before {
    content: '';
    display: block;
    width: 688px;
    height: 1px;
    background-color: #fafafa;
  }
  .ac.l-item.faq-item::after {
    display: none;
  }
  /* .l-item {
    padding-bottom: 32px;
  } */

  .f-bar {
    margin-top: 48px;
  }

  .ff-bar {
    margin-top: 78px;
    width: 1376px;
  }

  .ff-item {
    padding-bottom: 60px;
  }

  .last-bar {
    display: none;
  }

  .l-bar {
    width: 1376px;
  }

  .ac .ac-panel .ac-text.faq-text {
    font-weight: 500;
    font: 16px 'Inter Tight', sans-serif;
    color: rgba(250, 250, 250, 0.6);
    padding: 0px;
    margin: 0;
    max-width: 656px;
    margin-bottom: 26px;
  }

  .ac.ac.is-active .ac-panel.faq-panel {
    max-width: 656px;
    margin: 0;
  }

  .ac .ac-trigger.faq-btn {
    margin-right: 20px;
  }
  .faq-content-div-accordion {
    margin-bottom: 0;
  }
  .ff-item {
    padding-bottom: 0;
  }
  .ac.faq-item:nth-child(even) {
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }
  .ac.faq-item:nth-child(even) .ac-panel.faq-panel {
    padding-left: 32px;
  }
  .ac.faq-item:nth-child(even) .faq-content-div-accordion {
    padding-left: 32px;
  }
  .ac.faq-item::before {
    content: '';
    width: 688px;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.2);
    display: block;
    margin-bottom: 32px;
  }
}
