.faq {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
}

.faq-container {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
  gap: 12px;
}

.faq-title {
  font-family: 'Inter Tight';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
}

.faq-content-div-header {
  color: #fafafa;
  font-size: 20px;
  max-width: 265px;
}

.faq-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-content-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: transparent;
}

.faq-content-div-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.faq-content-text {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  /* display: none; */
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-bar-svg {
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .faq {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .faq-container {
    max-width: 768px;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 704px;
  }

  .faq-content-div-header {
    max-width: 575px;
  }

  .faq-content {
    gap: 26px;
  }

  .faq-bar-svg {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 704px;
  }
}
