.faq {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-container {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
  gap: 12px;
}

.faq-title {
  font-family: 'Inter Tight';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-list-accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
}

.ac-header {
  color: #fafafa;
  font-size: 20px;
  max-width: 265px;
}

.faq-content-div-accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ac-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: transparent;
}

.faq-content-div-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.ac-text {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* .faq-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.faq-bar-svg {
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  margin: 20px 0;

  border: 1px solid rgba(250, 250, 250, 0.2);

  /* fill: rgba(250, 250, 250, 0.2); */
}

.add-b {
  display: none;
}

.ac:nth-child(even) {
  padding-right: 20px;
}

/* accordion ------------------------- */

.ac.faq-item {
  margin-top: 0px;
  border: 0px solid #1c1d20;
  background-color: #1c1d20;
  box-sizing: border-box;
}
.ac .ac-header.faq-header {
  /* margin: 0;
  padding: 0; */
  color: #fafafa;
  font-size: 20px;
  max-width: 265px;
  line-height: 1.5;
  text-transform: none;
}
.ac .ac-trigger.faq-btn {
  /* font: bold 16px 'Arial', sans-serif; */
  cursor: pointer;
  transition: color 0.25s ease;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background: transparent;
}
.ac .ac-trigger.faq-btn::after {
  content: '';
  text-align: center;
  width: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
  display: none;
}
.ac .ac-trigger.faq-btn:focus {
  color: #8a8a8a;
}
.ac .ac-panel.faq-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
.ac .ac-panel .ac-text.faq-text {
  font-weight: 500;
  font: 16px 'Inter Tight', sans-serif;
  color: rgba(250, 250, 250, 0.6);
  padding: 0px;
  margin: 0;
}
.ac.js-enabled .ac-panel.faq-panel {
  visibility: hidden;
}
.ac.is-active .ac-panel.faq-panel {
  visibility: visible;
}
.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}

/* .ac.is-active .ac-trigger .faq-content-div-svg {
  background-image: url('./img/faq-svg/faq.svg#icon-arrow-up');
} */

@media screen and (min-width: 768px) {
  .faq {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq-container {
    max-width: 768px;
  }

  .faq-list-accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 704px;
  }

  .faq-content {
    gap: 26px;
  }

  .faq-bar-svg {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 704px;
  }

  .add-b {
    display: none;
  }

  .ac .ac-panel .ac-text.faq-text {
    max-width: 656px;
  }

  .ac .ac-header.faq-header {
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-size: 20px;
    max-width: 575px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .faq-container {
    max-width: 1440px;
  }

  .faq-list-accordion-container {
    display: flex;
    align-items: center;
    width: 1376px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ac.faq-item {
    max-width: 688px;

    position: relative;
    /* padding-left: 20px; */
    padding-right: 20px;
  }

  .ac-header.faq-header {
    max-width: 575px;
  }

  .faq-content {
    gap: 26px;
    max-width: 656px;
  }

  .faq-bar-svg {
    margin-top: 25px;
    margin-bottom: 35px;
    width: 708px;
    /* width: 688px; */
  }

  /*------------------------------------------*/

  /* .faq-list-item:nth-child(even) {
    padding-left: 20px;
  } */

  .ac.faq-item:nth-child(2n)::before {
    content: '';
    position: absolute;
    left: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    transform: translateY(-14%);
    width: 2px;
    /* height: 100%; */
    height: 270px;
    background-color: rgba(250, 250, 250, 0.2);
    z-index: -1;
  }

  .s-item {
    padding-top: 66px;
  }

  .l-item {
    /* padding-top: 14px; */
    padding-bottom: 40px;
    /* padding-bottom: 75px; */
  }

  /* .f-bar {
    margin-top: 48px;
  } */

  .ff-bar {
    margin-top: 78px;
    width: 1376px;
  }

  .ff-item {
    padding-bottom: 60px;
  }

  .last-bar {
    margin-bottom: 78px;
    border: 1px solid #1c1d20;
  }

  .l-bar {
    width: 1376px;
  }
}

/*---------------*/
