.footer-section {
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.footer-heading {
  display: flex;
  gap: 8px;
}

.footer-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-span {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 63px;
  margin-bottom: 64px;
}

.footer-input {
  outline: 0px solid transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  width: 100%;
  height: 44px;
  color: #fafafa;
  transition: border-color 250ms linear;
}

.footer-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.footer-input:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

.footer-button {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: rgb(237, 59, 68);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 40px 32px 41px;
  border: none;
  margin-top: 16px;
  transition: background-color 250ms linear;
}

.footer-button:hover,
.footer-button:focus {
  background-color: rgb(224, 55, 63);
}

.footer-contacts {
  display: flex;
  gap: 4px;
  margin-top: 0;
}

.footer-contacts-data {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 17px;
  text-align: center;
  color: #fafafa;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  height: 37px;
  transition: border-color 250ms linear;
}

.footer-contacts-data:hover,
.footer-contacts-data:focus {
  border-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .footer-section {
    margin-top: 48px;
    margin-bottom: 169px;
  }

  .footer-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 80px;
  }

  .footer-heading {
    gap: 20px;
  }

  .footer-title {
    font-size: 64px;
    gap: 10px;
  }

  .footer-form {
    flex-direction: row;
    gap: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
    align-items: center;
  }

  .footer-input {
    width: 245px;
  }

  .footer-button {
    line-height: 19px;
    width: 150px;
    height: 150px;
    padding: 65px 57px 66px;
    margin-top: 0;
  }

  .footer-contacts {
    gap: 8px;
  }

  .footer-contacts-data {
    font-size: 16px;
    line-height: 19px;
    padding: 18px 32px;
    height: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-section {
    margin-top: 82px;
  }

  .footer-container {
    max-width: 1440px;
    padding-left: 196px;
    padding-right: 196px;
  }

  .footer-input {
    width: 390px;
  }

  .footer-button {
    margin-left: 54px;
  }
}
