.header-container {
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;
}
.menu-list{
  display: none;
}
.header-button{
  display: none;
}
.header-img{
  width: 172px;
  height: 80px;
}
.header-mobile-menu-open-btn{
  stroke: #1b414b;
  display: flex;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}


/* ======================================MOBILE HEADER STYLES================================== */
/* ======================================MOBILE HEADER STYLES================================== */
/* ======================================TABLET HEADER STYLES================================== */
/* ======================================TABLET HEADER STYLES================================== */
/* ======================================DESKTOP HEADER STYLES================================== */
/* ======================================DESKTOP HEADER STYLES================================== */







/* =========================Drop for menu============================================ */
#dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
  }
  
  #profile.active #dropdown {
    display: block;
    opacity: 1; 
  }
  
  #dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }
  
  #dropdown a:hover {
    background-color: #f4f4f4;
    transform: scale(1.1);
    color: #e0373f;
  }
  
  #dropdown a:focus{
    background-color: #f4f4f4;
    transform: scale(1.1);
    color: #e0373f;
  } 
  /* =========================Drop for menu============================================ */
