

/* +++++new style+++++++++++++++++++++++ */

.mobail-menu {  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;

  background: url(../img/hero-img/hero-mobile-background.png);
  background-repeat:no-repeat;
  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-menu.is-open {
  transform: translateX(0);
}
.mobail-content{
  margin: 0 auto;
}


.mobile-menu-close-btn {
  position: absolute;
  top: 32px;
  right: 18px;
background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  background-color: transparent;
  fill: #fafafa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-closen:hover,
.iicon-closed:focus {
  border: none;
  fill: #ed3b44;
}

.heder-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.heder-footer-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.02em;
  padding: 18px 36px 18px 36px;
  display: block;
  padding: 14px 31px;

  border-radius: 60px;
}

.heder-footer-link:hover,
.heder-footer-link:focus {
  background-color: #e0373f;
}


.heder-footer-link {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.02em;
  padding: 18px 36px 18px 36px;
  display: block;
background-color: #ED3B44;
  border-radius: 60px;
}

.benefit-footer-link:hover,
.benefit-footer-link:focus {
  background-color: rgb(237, 59, 68);
}

.mobile-list{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-text);
  padding: 10px;
margin-left: auto;
margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
 
  margin-top: 302px;
  margin-bottom: 289px;
  
}


.mobile-menu-navigation{
margin-bottom: auto;
}

@media screen and (max-width: 767px) {
  .mobail-menu {
   width: 320px;
  }}

  @media screen and (min-width:768px){
	
						.mobail-menu {
				display: none;
			}
    }