.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  background: #1c1d20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  /* position: absolute;
    width: 24px;

        top: 24px;
        right: 24px;     
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1c1d20; */


  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;
}

.modal-btn-icon {
  padding: 0;
  fill: transparent;
  stroke: #fafafa;
}

.modal-text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}
.modal-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (max-width: 375px) {
  .modal {
    width: 343px;
    height: 276px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 492px;
    height: 246px;
  }
  .modal-btn-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 492px;
    height: 246px;
  }

  .modal-btn {
    top: 26px;
    right: 26px;
  }

  .modal-btn-icon {
    width: 24px;
    height: 24px;
  }
}
