.projects-section {
    max-width: 375px;
    padding: 32px 16px;
    margin-left: auto;
    margin-right: auto;
}

.projects-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.projects-item {
    max-width: 343px;
}

.projects-info-wrapper {
    background-color: #fafafa;
    padding: 32px;
    border-radius: 24px 24px 0 0;
}

.projects-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
}

.projects-skill {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px 13px 18px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    height: 46px;
}

.projects-info-wrapper h3 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    color: #1c1d20;
    margin: 94px auto 32px 0;
}

.projects-link {
    border-radius: 60px;
    padding: 13px 32px;
    width: 141px;
    height: 45px;
    background-color: #ed3b44;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    display: inline-block;
}

.projects-link:hover {
    background-color: #e0373f;
}

.projects-img-wrapper {
    background-color: #242527;
    border-radius: 0 0 24px 24px;
    height: auto;
    padding: 100px 16px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 32px;

}

.prev-btn {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: not-allowed;
}

.next-btn {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right-icon, .arrow-left-icon {
    stroke: #fafafa;
}

/* ===TABLET STYLES=== */
@media screen and (min-width: 768px) {
    .projects-section {
        max-width: 768px;
        padding: 48px 32px;
    }

    .projects-item {
        max-width: 704px;
    }

    .projects-info-wrapper {
        padding: 64px;
    }

    .projects-skill {
        padding: 18px;
        height: 55px;
    }

    .projects-info-wrapper h3 {
        width: 470px;
        margin: 164px auto 32px 0;
        font-size: 44px;
        line-height: 1;
    }

    .projects-link {
        padding: 18px 50px;
        width: 177px;
        height: 55px;
    }

    .projects-img-wrapper {
        padding: 120px 45px;
    }

    .btn-container {
        gap: 20px;
        margin-top: 64px;
    }
}

/* ===DESKTOP 1440 STYLES=== */

@media screen and (min-width: 1440px) {
    .projects-section {
        max-width: 1440px;
        padding: 82px 32px;
    }

    .projects-item {
        max-width: 1376px;
        display: flex;
    }

    .projects-info-wrapper  {
        width: 688px;
        border-radius: 24px 0 0 24px;
    }

    .projects-info-wrapper h3 {
        margin: 223px auto 38px 0;
    }

    .projects-img-wrapper {
        width: 688px;
        border-radius: 0 24px 24px 0;
        padding: 120px 37px;
    }
}