/* !===============scroll================= */
::-webkit-scrollbar {
  height: 3px;
  width: 2px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #c9c2c2;
}

/* * ====== mobil===== */
@media screen and (min-width: 320px) {
  .reviews-list-items.swiper-slide {
    padding: 22px 12px;
    width: 300px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
  }
  .container-wrapper {
    padding: 0 8px;
    min-width: 304px;
    min-width: 0;
  }
  .reviews {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 0;
    padding: 32px 0;
  }
  .reviews-header {
    color: rgba(250, 250, 250, 0.4);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-align: left;
  }
  .container-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  .reviews-list {
    margin: 0 auto;
  }

  .reviews-image {
    border-radius: 10px;
    height: 48px;
    width: 48px;
  }
  .reviews-text-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 158px;
  }
  .reviews-name-header {
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.32px;
    text-align: left;
  }
  .reviews-main-text {
    color: rgba(250, 250, 250, 0.6);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .arrow-swiper {
    stroke: rgb(250, 250, 250, 100%);
    fill: transparent;
  }
  .button-prev:active .arrow-swiper,
  .button-next:active .arrow-swiper {
    stroke: rgb(59, 59, 59);
  }
  .arrow-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .button-prev,
  .button-next {
    background-color: transparent;
    border: none;
  }
  .button-next-svg,
  .button-prev-svg {
    border: 1px solid rgb(250, 250, 250, 50%);
    width: 52px;
    height: 52px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .last-button {
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
}
@media screen and (min-width: 375px) {
  .reviews {
    width: 375px;
  }

  .container-wrapper {
    padding: 0 16px;
    width: 375px;
    margin: 0 auto;
  }
  .reviews-list-items.swiper-slide {
    padding: 32px 24px;
    width: 342px;
    height: 302px;
  }
}

/** =========TABLET========== */

@media screen and (min-width: 767px) {
  .reviews {
    width: 768px;
    padding: 48px 0;
  }

  .container-wrapper {
    padding: 0 32px;
    width: 704px;
  }
}
/* *============== DESKTOP================== */

@media screen and (min-width: 1440px) {
  .reviews {
    width: 1440px;
    padding: 82px 0;
  }
  .container-wrapper {
    padding: 0 32px;
    width: 1376px;
  }
}
