/** ====== mobil===== */
.reviews {
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 0;
}
.reviews-header {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0, 32px;
  text-align: left;
}
.container-wrapper {
  padding: 0 16px;
  min-width: 0;
}
.reviews-list {
  margin: 0 auto;
  margin-top: 32px;
}
.reviews-list-items {
  box-sizing: border-box;
  padding: 32px 24px;
  max-width: 342px;
  height: 302px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}
.swiper-slide {
  /* height: 302px !important; */
}
.swiper-wrapper {
  transform: translate3d();
}

.reviews-image {
  border-radius: 10px;
}
.reviews-text-content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reviews-name-header {
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.32px;
  text-align: left;
}
.reviews-main-text {
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-align: left;
  max-width: 294px;
}

.arrow-swiper {
  stroke: rgb(250, 250, 250, 70%);
  fill: transparent;
}
.arrow-container {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button-next-svg,
.button-prev-svg {
  background-color: transparent;
  border: none;
}
@media screen and (width: 320px) {
  .reviews-list-items {
    padding: 22px 12px;
    width: 300px;
  }
}
