/* * ====== mobil===== */
@media screen and (min-width: 320px) {
  .reviews-list-items {
    padding: 22px 12px;
    width: 300px;
  }
}

.reviews {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-width: 0;
  padding: 32px 0;
}
.reviews-header {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-align: left;
}
.container-wrapper {
  padding: 0 16px;
  min-width: 0;
}
.container-header {
  display: flex;
  align-items: flex-start;
}
.reviews-list {
  margin: 0 auto;
  margin-top: 32px;
}
.reviews-list-items.swiper-slide {
  box-sizing: border-box;
  padding: 32px 24px;
  max-width: 342px;
  height: 302px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  text-overflow: ellipsis;
}

.reviews-image {
  border-radius: 10px;
  height: 48px;
  width: 48px;
}
.reviews-text-content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 158px;
}
.reviews-name-header {
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.32px;
  text-align: left;
}
.reviews-main-text {
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-align: left;
  overflow: scroll;
}

.arrow-swiper {
  stroke: rgb(250, 250, 250, 100%);
  fill: transparent;
}
.arrow-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button-prev,
.button-next {
  background-color: transparent;
  border: none;
}
.button-next-svg,
.button-prev-svg {
  border: 1px solid rgb(250, 250, 250, 50%);
  width: 52px;
  height: 52px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

/** =========TABLET========== */

@media screen and (min-width: 767px) {
  .reviews {
    min-width: 704px;
    padding: 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    min-width: 1180px;
    padding: 82px 0;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    min-width: 1376px;
    padding: 82px 0;
  }
}
